<div clas="t-body">
  <div id="markup" class="gem__desc">
    <%= simple_markup(adoption_application.note) %>
  </div>
  <%= current_user&.can_close?(adoption_application) %>
  <%= render(
    partial: "adoption_applications/edit",
    locals: { status: "approved", button_text: t("adoption_applications.approve"), adoption_application: adoption_application }
  ) if current_user&.can_approve?(adoption_application) %>

  <%= render(
    partial: "adoption_applications/edit",
    locals: { status: "closed", button_text: t("adoption_applications.close"), adoption_application: adoption_application }
  ) if current_user&.can_close?(adoption_application) %>
</div>
